{% extends "base_page.html" %}

{% block title %}Create Movie{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ToDo Demo</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    

    

  </head>
  <body>

        <!--Pageheader -->
        <div class="container"> 
           <div class="jumbotron">
            <h1>Demo Organizer.</h1>
            <p>Add a new todo task.</p>
          </div>
        </div>

        <!--Add Form -->
        <div class="container">
          <form role="form">
            <div class="form-group">
              <label for="todo">What do you have to do?</label>
              <input type="text" class="form-control" id="todo" maxlength="160">
            </div>
            <div class="form-group">
              <label for="deadline">When is the deadline?</label></br>
              <input type="date" name="deadline" id="deadline">
            </div>
            <div class="form-group">
              <label for="progressbar">What is your current progress?</label>
              <input oninput="x.value=parseInt(progressbar.value)" type="range" id="progressbar" value="0"><output name="x" for="progressbar">0</output> 
            </div>
        <!--"Add task" button-->      
        <a href="demoIndex.html" role="button" class="btn btn-primary btn-block">Add task  
        <span class="glyphicon glyphicon-edit"></span></a>
          </form>
    {% endblock %}




  </body>
</html>