
{% extends "base_page.html" %}

{% block title %}Create Movie{% endblock %}

{% block content %}
        <div class="container">
           <div class="jumbotron">
            <h1>Demo Organizer.</h1>
            <p>Edit a new todo task.</p>
          </div>
        </div>


        <div class="container">
          <form role="form" method="post" class="form">
            {% csrf_token %}

            <!--{% for field in form %}
                <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
                </div>
            {% endfor %}-->

            <div class="form-group">
              <label for="todo">What do you have to do?</label>
              <input type="text" class="form-control" id="todo" name="title" maxlength="160" value="{{ object.title }}">
            </div>
            <div class="form-group">
              <label for="deadline">When is the deadline?</label></br>
              <input type="date" name="deadline" id="deadline" value="{{ object.deadlineAsString }}">
            </div>
            <div class="form-group">
              <label for="progressbar">What is your current progress?</label>
              <input oninput="progressOutput.value=parseInt(progressbar.value)" type="range" id="progressbar" value="{{ object.progress }}" name="progress"><output name="progressOutput" for="progressbar">{{ object.progress }}</output>
              </div>

              <input type="submit" value="Submit" />
          </form>



    {% endblock %}
