    {% extends "base_page.html" %}
    {% block content %}
        <!--Pageheader -->
        <div class="container"> 
           <div class="jumbotron">
            <h1>Demo Organizer.</h1>
            <p>Impressum and legal.</p>
          </div>
        </div>
    
        <!--Impressum-->
        <div class="container">
            <div class="jumbotron">
                <h3>Provider:</h3>
                Max Mustermann</br>
                Musterstraße 12</br>
                12345 Berlin</br>

                <h3>Contact:</h3>
                Telefon: 030/12345678</br>
                Telefax: 030/12345679</br>
                E-Mail: demo@organizer.com</br>
                Website: www.demoOrganizer.com</br>

                <h3>Responsible under § 6 Abs.2 MDStV</h3>
                Paul Schreiber</br>
                Redakteur „Writers stuff“ </br>
                Ahornallee 1 </br>
                12345 Berlin</br>


                Court of Registration: AG Berlin</br>
                HRB-Number: 54321</br>
                Sales tax identification number: 123456789</br>
            </div>
        </div>

    </body>
    {% endblock %}