
{% extends "base_page.html" %}

{% block content %}

        <!--Pageheader -->
        <div class="container">
           <div class="jumbotron">
            <h1>Demo Organizer.</h1>
            <p>Your personal Todo webapp.</p>
            <p>Save time. Now even in responsive webdesign.</p>
          </div>
        </div>

        <!--Table with tasks to do -->
        <div class="container">
        <table class="text-center table table-striped table-hover">
          <!-- Table Head-->
          <thead>
            <tr>
              <th class="text-left">ToDo</th>
              <th class="text-center">Deadline</th>
              <th class="text-center">Progress</th>
              <th class="text-right"></th>
            </tr>
          </thead>


          <tbody>
            <!--Table content-->
            {% for todo in object_list %}
              {% if todo.progress < 100  %}
                <tr>
                  <td class="text-left">{{todo.title}}</td>
                  <td> {{todo.deadline}}</td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{todo.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{todo.progress}}%">
                        {{todo.progress}}%
                      </div>
                    </div>
                  </td>
                  <td >
                    <div class="btn-group">
                      <a href="edit/{{todo.id}}" role="button" class="btn btn-default">Edit</a>
                      <a href="delete/{{todo.id}}" role="button" class="btn btn-default">Delete</a>
                      <a href="finish/{{todo.id}}" role="button" class="btn btn-default">Done?</a>
                    </div>
                  </td>
              {% endif %}
            {% endfor %}


          </tbody>
        </table>
        </div>


        <!--Table with tasks to do -->
        <div class="container">
        <table class="text-center table table-striped table-hover">
          <!-- Table Head-->
          <thead>
            <tr>
              <th class="text-left">ToDo</th>
              <th class="text-center">Deadline</th>
              <th class="text-center">Progress</th>
              <th class="text-right"></th>
            </tr>
          </thead>


          <tbody>
            <!--Table content-->
            {% for todo in object_list %}
              {% if todo.progress >= 100  %}
                <tr>
                  <td class="text-left">{{todo.title}}</td>
                  <td> {{todo.deadline}}</td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{todo.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{todo.progress}}%">
                        {{todo.progress}}%
                      </div>
                    </div>
                  </td>
                  <td >
                    <div class="btn-group">
                      <a href="edit/{{todo.id}}" role="button" class="btn btn-default">Edit</a>
                      <a href="delete/{{todo.id}}" role="button" class="btn btn-default">Delete</a>
                      <a href="finish/{{todo.id}}" role="button" class="btn btn-default">Done?</a>
                    </div>
                  </td>
              {% endif %}
            {% endfor %}


          </tbody>
        </table>
        </div>


          <!--Add a to do-->
          <div class="container">
              <a href="add.html" role="button" class="btn btn-primary btn-block">Add a new task
              <span class="glyphicon glyphicon-edit"></span></a>
          </div>


                          <!--Initialize Tooltips-->
                      <script>
                      $(document).ready(function(){
                      $('[data-toggle="tooltip"]').tooltip();
                      });
                      </script>


  </body>
  {% endblock %}
