<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ToDo Demo Impressum</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    

    </head>
    <body>

        <!--Navigation Bar-->
        <nav class="navbar navbar-default"> 
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="demoIndex.html">Demo Organizer</a>
            </div>
            <div>
              <ul class="nav navbar-nav">
                <li><a href="demoIndex.html">All tasks</a></li>
                <li><a href="demoAdd.html"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Add Todo</a></li>
                <li class="active"><a href="demoImpressum.html">Impressum</a></li> 
              </ul>
            </div>
          </div>
        </nav>


        <!--Pageheader -->
        <div class="container"> 
           <div class="jumbotron">
            <h1>Demo Organizer.</h1>
            <p>Impressum and legal.</p>
          </div>
        </div>
    
        <!--Impressum-->
        <div class="container well">
        <h3>Provider:</h3>
        Max Mustermann</br>
        Musterstraße 12</br>
        12345 Berlin</br>

        <h3>Contact:</h3>
        Telefon: 030/12345678</br>
        Telefax: 030/12345679</br>
        E-Mail: demo@organizer.com</br>
        Website: www.demoOrganizer.com</br>

        <h3>Responsible under § 6 Abs.2 MDStV</h3>
        Paul Schreiber</br>
        Redakteur „Writers stuff“ </br>
        Ahornallee 1 </br>
        12345 Berlin</br>


        Court of Registration: AG Berlin</br>
        HRB-Number: 54321</br>
        Sales tax identification number: 123456789</br>
        </div>

    </body>

</html>